.categories-root {
  padding: 32px;
  max-width: 500px;
  margin: 0 auto;
}

.categories-root h1 {
  color: #177703;
  margin-bottom: 20px;
}

.categories-root select {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  font-size: 16px;
}

.categories-root h2 {
  margin-top: 24px;
  color: #065f12;
}

.categories-root ul {
  list-style: disc inside;
  margin-top: 8px;
  padding-left: 0;
}

.categories-root li {
  font-size: 16px;
  margin-bottom: 6px;
}

.categories-root p {
  color: #900;
  font-size: 15px;
}