Flask==3.0.0
Flask-Login==0.6.3
Flask-WTF==1.1.1
Flask-Bcrypt==1.0.1
Flask-SQLAlchemy==3.0.5
python-dotenv==1.0.0
WTForms==3.0.1
Werkzeug>=3.0.0
SQLAlchemy==2.0.21
email-validator==2.0.0

# Additional dependencies can be added below as needed
# Make sure to install using pip3 if using Python 3 environment instead of pip.
# Install flask_bcrypt, flask_wtf, and flask_login as needed.