* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333
}

nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}


/* Budget Section */
.budget {
    text-align: center;
    padding: 2rem 0;
}

.budget-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

.budget-container h1 {
    margin-bottom: 1.5rem;
}

.budget-info p{
    font-size: 18px;
    margin: 10px 0;
}

.budget-info p span{
    font-weight: bold;
    font-size: 22px;
}

.model {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.model-content {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 15px;
}

button:hover {
    background-color: #555;
}

